<!DOCTYPE html>
<html>

<head>
    <title>YouScribe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<img src="{{ url_for('static', filename='icon.png') }}" class="center">
<form class="form form-animate-fields" action="/results">
    <div class="content2">
        <div class="form-field">
            <input class="form-input" type="Url" name="inputname" id="inputname" textarea spellcheck="false">
</form>
</div>
<footer>
  <p><font color="white">Created by Stanley Lee at SB Hacks 2019</font></p>
</footer>
</body>
</html>
